*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');



.logo img{
    width: 10%;
    position: relative;
    border-radius: 8px;
}

.header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
}
.header ul{
    display: flex;
    list-style: none;
    font-size: 19px;
    gap: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    color: aliceblue;
    
}

.header ul li a{
  text-decoration: none;
  color: #ffffff;
}

.banner{
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 2s ease;
    
}

.banner .glass-wrapper{
    width: 30%;
    height: 100%;
    background: rgba(141, 153, 174, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
}
.hero-tittle{
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 9rem;
    color: aliceblue;
    top: 10px;
}

.hero-tittle p{
    font-size: 47px;
    font-weight: 300;
    line-height: 60px;
}

.hero-tittle .ino{
    font-size: 75px;
    letter-spacing: 3px;
    font-weight: 600;
    
}

.hero-tittle .detaials{
    width: 60%;
    padding-top: 1.5rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-bottom: 2.5rem;
}

/* .hero-tittle .us button{
    background: rgba( 353, 35, 60);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 50px;
    border: none;
    color: aliceblue;
    padding: 12px 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
} */

.hero-tittle .us button {
    display: inline-block;
    padding: 0.65em 1.6em;
    border: 3px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }
  
  .hero-tittle .us button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
  }

  .hero-tittle .us button a{
    text-decoration: none;
    color: #ffffff;
  }


  
  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }

.list{
    bottom: 25px;
    position: absolute;
    left: 35rem;
}

.list ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: aliceblue;
    width: 65vw;
    height: 15rem;
    align-items: center;
    
}

.list .thumbnail{
    display: flex;
    height: 10rem;
    width: 18rem;
    background-size: cover !important;
    border-radius: 8px;
    flex-direction: column;
    cursor: pointer;
}

.list .thumbnail .details {
    margin-top: auto; 
    padding: 10px 0px;
}

.details .lab-name{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.list p{
    padding-left: 20px;
    margin-bottom: auto;
    line-height: 24px;
}
.list .thumbnail:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .list .active{
    margin-top: -2rem;

  }
  .m-list a{
    text-decoration: none;
    color: #ffffff;
  }


  .container .header ul a:hover{
    color: red;
  }

  .container .header ul ::first-letter{
    color: gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
  }
  